@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
}

.App {
  background-color: black;
}

.logo {
  height: 100px;
  margin-left: 50px;
}

.title {
  color: white;
  font-weight: bold;
  font-size: 25px;
  margin: 25px 0 10px 0;
}

.list {
  display: flex;
  overflow-x: auto;
}

.list img {
  width: 220px;
  height: 124px;
}

.container {
  margin: 5px 10px 0 50px;
}
